* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(120deg, #1d267d, #5c469c);
  padding: 10px;
}

.todo-app {
  width: 100%;
  max-width: 540px;
  background: white;
  margin: 100px auto 20px;
  padding: 40px 30px 70px;
  border-radius: 10px;
}

.todo-app img {
  width: 35px;
  height: 35px;
}

.todo-app h2 {
  color: #1d267d;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.todo-app h2 span {
  font-weight: 700;
  font-style: italic;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #5c469c;
  border-radius: 30px;
  padding-left: 20px;
  margin-bottom: 25px;
}

input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 10px;
  color: white;
}

button {
  border: 3px solid #5c469c;
  outline: none;
  background: white;
  color: black;
  padding: 16px 50px;
  cursor: pointer;
  border-radius: 40px;
  font-size: 1.2rem;
}

ul li {
  list-style: none;
  padding: 12px 8px 12px 50px;
  user-select: none;
  cursor: pointer;
  position: relative;
}

ul li::before {
  content: "";
  position: absolute;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-image: url(../img/unchecked.png);
  background-size: cover;
  background-position: center;
  top: 12px;
  left: 8px;
}

.checked {
  color: #555;
  text-decoration: line-through;
}

.checked::before {
  background-image: url(../img/checked.png);
}

ul li span {
  position: absolute;
  right: 0;
  top: 5px;
  width: 40px;
  height: 40px;
  font-size: 22px;
  color: #555;
  line-height: 40px;
  border-radius: 50%;
  text-align: center;
}

ul li span:hover {
  background-color: #edeef0;
}
